{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<h2 class="center-align">만든 사람들</h2>
<div class="container">
    <div class="row">
        <div id="lbs" class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static '/images/lbs.jpg' %}">
                    <span class="card-title">임범수</span>
                </div>
                <div class="card-content">
                    <p>Frontend, Ajax</p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100003160846392">facebook</a>
                </div>
            </div>
        </div><!--
        --><div id="chj" class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static '/images/chj.jpg' %}">
                    <span class="card-title">차호준</span>
                </div>
                <div class="card-content">
                    <p>Parser</p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/hersammc">facebook</a>
                </div>
            </div>
        </div><!--
        --><div id="csm" class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static '/images/csm.jpg' %}">
                    <span class="card-title">최수민</span>
                </div>
                <div class="card-content">
                    <p>Search Engine</p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100010741157919">facebook</a>
                </div>
            </div>
        </div><!--
        --><div id="mmj" class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static '/images/mmj.jpg' %}">
                    <span class="card-title">문민재</span>
                </div>
                <div class="card-content">
                    <p>DB Design, Frontend</p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100003977818796">facebook</a>
                </div>
            </div>
        </div><!--
        --><div id="agj" class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static '/images/agj.jpg' %}">
                    <span class="card-title">안광진</span>
                </div>
                <div class="card-content">
                    <p>Logic</p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100004293130148">facebook</a>
                </div>
            </div>
        </div><!--
        --><div id="ghj" class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static '/images/ghj.jpg' %}">
                    <span class="card-title">고희주</span>
                </div>
                <div class="card-content">
                    <p>DB Design</p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100014248247751">facebook</a>
                </div>
            </div>
        </div><!--
        --><div id="ksj" class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static '/images/ksj.jpg' %}">
                    <span class="card-title">김승진</span>
                </div>
                <div class="card-content">
                    <p>Logic, Imaging</p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100008987987104">facebook</a>
                </div>
            </div>
        </div><!--
        --><div id="lje" class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="{% static '/images/lje.jpg' %}">
                    <span class="card-title">이정은</span>
                </div>
                <div class="card-content">
                    <p>Search Engine</p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100021472042981">facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}