<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Lemons</h5>
                <p class="grey-text text-lighten-4">Lemons는 POSTECHIAN들을 위한 시간표 서비스입니다. 편리한 검색 기능을 이용하여 과목들을 시간표에 추가하고, 여러개의 시간표를 만들어 여러가지 수강 계획을 세워보세요.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">만든 사람들</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/profile.php?id=100003160846392">임범수</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/profile.php?id=">차호준</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/profile.php?id=">최수민</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/profile.php?id=">문민재</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/profile.php?id=">안광진</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/profile.php?id=">고희주</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/profile.php?id=">김승진</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/profile.php?id=">이정은</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-3">
        <div class="container">
        © 2018 Lemons All Right Reserved
        </div>
    </div>
</footer>