{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">

    <div id="semesters" class="row">
        <i id="semester-before" class="material-icons small">chevron_left</i>
        {% for semester in semesters %}
        <h4 semester="{{semester.pk}}" 
        {% if forloop.counter0 == 0 %}
        class="semester active"
        {% else %}
        class="semester"
        {% endif %}
        >{{semester.name}}</h4>
        {% endfor %}
        <i id="semester-after" class="material-icons small disabled">chevron_right</i>
    </div>

    <div class="row" id="timetable">
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large grey">
            <i class="large material-icons">apps</i>
        </a>
        <ul>
            <li>
                <a id="search-subject" class="btn-floating orange"><i class="material-icons">search</i></a>
                <a class="btn-floating mobile-fab-tip">과목 검색</a>
            </li>
            <li>
                <a id="add-timetable" class="btn-floating yellow"><i class="material-icons">add</i></a>
                <a class="btn-floating mobile-fab-tip">시간표 추가</a>
            </li>
            <li>
                <a id="copy-timetable" class="btn-floating blue"><i class="material-icons">content_copy</i></a>
                <a class="btn-floating mobile-fab-tip">시간표 복사</a>
            </li>
            <li>
                <a id="delete-timetable" class="btn-floating red darken-1"><i class="material-icons">delete_forever</i></a>
                <a class="btn-floating mobile-fab-tip">시간표 삭제</a>
            </li>
            <li>
                <a id="share-on-facebook" class="btn-floating blue"><i class="material-icons">share</i></a>
                <a class="btn-floating mobile-fab-tip">페이스북 공유</a>
            </li>
        </ul>
    </div>

</div>

<script src="{% static 'js/timetable.js' %}"></script>
{% endblock %}