<div class="container-fluid">
    <nav>
        <div class="nav-wrapper red lighten-2">
            <a href="/" class="brand-logo"><i class="material-icons">calendar_today</i>Lemons</a>
            <a href="#" data-target="mainnav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/howtouse/">사용법</a></li>
                <li><a href="/aboutus/">만든 사람들</a></li>
                {% if user.is_authenticated %}
                <li><a href="/logout/">로그아웃</a></li>
                {% else %}
                <li><a href="/signup/">회원가입</a></li>
                <li><a href="/login/">로그인</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mainnav">
        <li><a href="/howtouse/">사용법</a></li>
        <li><a href="/aboutus/">만든 사람들</a></li>
        {% if user.is_authenticated %}
        <li><a href="/logout/">로그아웃</a></li>
        {% else %}
        <li><a href="/signup/">회원가입</a></li>
        <li><a href="/login/">로그인</a></li>
        {% endif %}
    </ul>

    <style>
    @media screen and (min-width: 600px) {
        .brand-logo {
            margin-left: 10px;
        }
    }
    </style>
    <script>
    $(document).ready(function(){
		$('.sidenav').sidenav();
    });
    </script>
</div>