{% extends 'core/base.html' %}

{% block content %}
<div class="row">
    <form class="col s12 m6 offset-m3" method="post">     
        {% if validlink %}
          <h2 class="center-align">Change password</h2>
          {% csrf_token %}
          {{ form.as_p }}
          <button class="right grey darken-3 waves-effect waves-light btn" type="submit">비밀번호 재설정하기</button>
        {% else %}
          <h2 class="center-align">Invalid link ;(</h2>
          <h6>
            이 링크는 이미 사용되었거나, 만료되어 사용할 수 없습니다.
          </h6>
          <h6>
            새로운 링크를 다시 받으세요.
          </h6>
          <a href="/password_reset" class="right grey darken-3 waves-effect waves-light btn">링크 재발급받기</a>
        {% endif %}
    </form>
</div>
{% endblock %}