{% extends 'core/base.html' %}

{% block content %}
<div class="row">
    <form class="col s12 m6 offset-m3" method="post">     
        {% if validlink %}
          <h2 class="center-align">비밀번호 변경</h2>
          {% csrf_token %}
          {% for field in form %}
          <div class="row">
              <div class="input-field col s12">
                  {{ field }}
                  <label>
                  {% if field.label == "New password" %}
                  새 비밀번호
                  {% elif field.label == "New password confirmation" %}
                  새 비밀번호 확인
                  {% endif %}
                  </label>
              </div>
              {% if field.help_text %}
              <small style="display: none">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
          </div>
          {% endfor %}
          <button class="right grey darken-3 waves-effect waves-light btn" type="submit">변경하기</button>
        {% else %}
          <h2 class="center-align">잘못된 링크 ;(</h2>
          <h6>
            이 링크는 이미 사용되었거나, 만료되어 사용할 수 없습니다.
          </h6>
          <h6>
            새로운 링크를 다시 받으세요.
          </h6>
          <a href="/password_reset" class="right grey darken-3 waves-effect waves-light btn">링크 다시받기</a>
        {% endif %}
    </form>
</div>
{% endblock %}