{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h1 class="align-center">API 테스트 페이지</h1>
    <p>버튼을 눌러보세용</p>

    <h1>Select semester</h1>

    <form action="/select_semester/" method="get">
    	<select name="semester">
    		{% for semester in semesters %}
    		<option value={{ semester.pk }}>{{ semester.name }}</option>
    		{% endfor %}
    	</select>
    	<button type="submit">select semester</button>
    </form>

    <h1>Add Timetable</h1>

    <form action="/add_timetable/" method="post">{% csrf_token %}
        <select name="semester">
            {% for semester in semesters %}
            <option value={{ semester.pk }}>{{ semester.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">add timetable</button>
    </form>

    <h1>Delete Timetable</h1>

    <form action="/delete_timetable/" method="post">{% csrf_token %}
        <select name="timetable">
            {% for timetable in timetables %}
            <option value={{ timetable.pk }}>{{ timetable.user.username }}의 시간표 {{ forloop.counter0 }}</option>
            {% endfor %}
        </select>
        <button type="submit">add timetable</button>
    </form>

    <h1>Copy Timetable</h1>

    <form action="/copy_timetable/" method="post">{% csrf_token %}
        <select name="timetable">
            {% for timetable in timetables %}
            <option value={{ timetable.pk }}>{{ timetable.user.username }}의 시간표 {{ forloop.counter0 }}</option>
            {% endfor %}
        </select>
        <button type="submit">copy timetable</button>
    </form>

    <h1>Search subject</h1>

    <form action="/search_subject/" method="get">
    	<p>검색어</p>
    	<input name="q" type="text">
    	<p>
    		<label>
    			<input name="1hundred" type="checkbox">
    			<span>100번대</span>
    		</label>
    	</p>
    	<p>
    		<label>
    			<input name="2hundred" type="checkbox">
    			<span>200번대</span>
    		</label>
    	</p>
    	<p>
    		<label>
    			<input name="3hundred" type="checkbox">
    			<span>300번대</span>
    		</label>
    	</p>
    	<p>
    		<label>
    			<input name="4hundred" type="checkbox">
    			<span>400번대</span>
    		</label>
    	</p>
    	<p>학과</p>
    	<div class="input-field">
	    	<select name="department">
	    		<option value="" disabled selected>선택해주세요</option>
	    		{% for department in departments %}
	    		<option value={{ department.pk }}>{{ department.name }}</option>
	    		{% endfor %}
	    	</select>
	    </div>
    	<p>종류</p>
    	<select name="category">
    		<option value="" disabled selected>선택해주세요</option>
    		{% for category in categories %}
    		<option value={{ category.pk }}>{{ category.category }}</option>
    		{% endfor %}
    	</select>
    	<p>시작 시간</p>
    	<input name="start_time" type="text">
    	<p>끝 시간</p>
    	<input name="end_time" type="text">
    	<p>
    		<label>
    			<input name="1credit" type="checkbox">
    			<span>1학점</span>
    		</label>
    	</p>
    	<p>
    		<label>
    			<input name="2credit" type="checkbox">
    			<span>2학점</span>
    		</label>
    	</p>
    	<p>
    		<label>
    			<input name="3credit" type="checkbox">
    			<span>3학점</span>
    		</label>
    	</p>
    	<p>
    		<label>
    			<input name="4credit" type="checkbox">
    			<span>4학점</span>
    		</label>
    	</p>

    	<button type="submit">search subject</button>
    </form>

    <h1>Add Subject To Timetable</h1>

    <form action="/add_subject_to_timetable/" method="post">{% csrf_token %}
        <select name="timetable">
            {% for timetable in timetables %}
            <option value={{ timetable.pk }}>{{ timetable.user.username }}의 시간표 {{ forloop.counter0 }}</option>
            {% endfor %}
        </select>
        <select name="subject">
            {% for subject in subjects %}
            <option value={{ subject.pk }}>{{ subject.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">add subject to timetable</button>
    </form>

    <h1>Delete Subject From Timetable</h1>

    <form action="/delete_subject_from_timetable/" method="post">{% csrf_token %}
        <select name="timetable">
            {% for timetable in timetables %}
            <option value={{ timetable.pk }}>{{ timetable.user.username }}의 시간표 {{ forloop.counter0 }}</option>
            {% endfor %}
        </select>
        <select name="subject">
            {% for subject in subjects %}
            <option value={{ subject.pk }}>{{ subject.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">delete subject from timetable</button>
    </form>

    <script>
    	$(document).ready(function() {
    		$('select').formSelect();
    	});
    </script>
</div>
{% endblock %}