@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	font-family: "Nanum Gothic", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
}

main {
    flex: 1 0 auto;
}

#semesters {
	text-align: center;
}

#semesters i {
	display: inline-block;
	color: #757575;
	margin: 0 10px;
}

#semesters i.disabled {
	opacity: 0.3;
}

#semesters h4 {
	display: none;
}

#semesters h4.active {
	display: inline-block;
}

#timetable ul.tabs {
	background-color: transparent;
}

#timetable ul.tabs .tab a {
	background-color: #e5e5e5;
	color: #ee6e73;
}

#timetable ul.tabs .tab a.active {
	background-color: white;
	color: #ee6e73;
}

#timetable ul.tabs .indicator {
	top: 0;
}

.timetable .credit {
	background-color: white;
	padding: 10px 0;
}

.divider {
	margin: 10px 10px;
}

.timetable .credit h5 {
	margin-top: 0;
}

.timetable .credit p {
	display: inline-block;
	margin: 0;
}

@media screen and (max-width: 600px) {
	.timetable .credit p {
		width: 25%;
		font-size: 10px;
	}
}

@media screen and (min-width: 600px) {
	.timetable .credit p {
		width: 20%;
	}
}

@media screen and (min-width: 992px) {
	.timetable .credit p {
		width: 10%;
	}
}

@media screen and (min-width: 1200px) {
}

.timetable .days {
	background-color: white;
	text-align: center;
	padding-left: 15px;
}

.timetable .days p {
	position: relative;
	top: 10px;
	width: 20%;
	margin: 0;
	display: inline-block;
}

.timetable .time {
	background-color: white;
	position: absolute;
	width: 15px;
	text-align: right;
}

.timetable .time p {
	margin: 0;
	vertical-align: middle;
	height: 6vh;
	line-height: 6vh;
}

.timetable .daybox {
	background-color: white;
	padding: 3vh 0;
	padding-left: 15px;
}

.timetable .day {
	width: 20%;
	display: inline-block;
	padding: 0 0.5vh;
	position: relative;
}

.timetable .hour {
	height: 6vh;
	box-sizing: border-box;
	border-top: 1px solid #e5e5e5;
}

.timetable .hour:last-child {
	box-sizing: content-box;
	border-bottom: 1px solid #e5e5e5;
}

.timetable .thirty-minute:first-child {
	box-sizing: content-box;
	border-bottom: 1px dotted #e5e5e5;
}

.thirty-minute {
	height: 3vh;
	box-sizing: border-box;
}

.period {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 0.5vh;
	padding: 5px;
	background-color: rgb(255, 229, 191);
	opacity: 1;
	overflow-y: hidden;
}

@media screen and (max-width: 600px) {
	.period {
		font-size: 10px;
	}

	.timetable .time, .timetable .days {
		font-size: 10px;
	}

	.timetable .time {
		width: 15px;
	}
	.timetable .daybox {
		padding-left: 15px;
	}
}

@media screen and (min-width: 600px) {
	.period {
		font-size: 12px;
	}

	.timetable .time, .timetable .days {
		font-size: 14px;
	}

	.timetable .time {
		width: 21px;
	}
	.timetable .daybox {
		padding-left: 21px;
	}
}

@media screen and (min-width: 992px) {
	.period {
		font-size: 14px;
	}

}

@media screen and (min-width: 1200px) {
	.period {
		font-size: 14px;
	}

}

.period p {
	margin: 0;
}

.period p.name {
	font-weight: bold;
}

.period p.delete {
	right: 5px;
	position: absolute;
}

.mobile-fab-tip {
    position: fixed;
    right: 85px;
    padding:0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width:auto;
} 

#search .checkbox_p {
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	text-align: left;
}

#search .checkbox_p span {
	padding-left: 25px;
	font-size: 15px;
	line-height: 20px;
	vertical-align: middle;
}

#search .input-field {
	margin: 30px 0;
}

@media screen and (max-width: 600px) {
	#search .checkbox_p {
		width: 50%;
		margin-right: 0;
	}
}